
.tooltip {
	position: relative;
	display: inline-block;
	// border-bottom: 1px dotted black;

	& .tooltiptext {
		visibility: hidden;
		width: max-content;
        font-size: .9rem;
        padding: 5px 10px;
        letter-spacing: normal;
		background-color: v.$back-80;
		color: #fff;
		text-align: center;
		border-radius: 6px;
		position: absolute;
		z-index: 1;
		top: 120%;
		left: 50%;
        transform: translateX(-50%);
		// margin-left: -60px;
		opacity: 0;
		transition: opacity 200ms;

		&::after {
			content: '';
			position: absolute;
			bottom: 100%;
			left: 50%;
			margin-left: -5px;
			border-width: 5px;
			border-style: solid;
			border-color: transparent transparent v.$back-80 transparent;
		}

    }
		&:hover .tooltiptext {
			visibility: visible;
			opacity: 1;
		}
}
